<%# The answer.html.erb will display the question you ask your coach
as well as the coach’s answer. The controller will need to read the question
 from params and compute an instance
variable @answer for the view to display.
 Here are two requests that you should be able to handle: %>

<%# <erb>@question</erb>
<erb>@answer</erb> %>

<div class="container">
  <% @questions.each_with_index do |question, index| %>
    <div class="card mt-5">
        <p><%= question %></p>
      <p><%= @answers[index] %></p>
    </div>
  <% end %>
</div>

<%= link_to "Ask a new question", ask_path%>
